/* utility classes */
.tCenter {
  text-align: center;
}
/* movie header */
.container {
  border-bottom: 10px solid #30475c;
  background-position: right -100px top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  .profileimg {
    border-radius: 10px;
    transition: 0.2s;
    &:hover {
      filter: blur(5px);
    }
  }
}
.innerContainer {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: linear-gradient(
    to right,
    rgba(10.59%, 3.53%, 3.14%, 1) 150px,
    rgba(10.59%, 3.53%, 3.14%, 0.84) 100%
  );
  /* line-height: 1.5 rem; */
}
.leftSide {
  margin-right: 15px;
}
/* right side */
.rightSide {
  width: 75%;
}
/* moviecast */
.cardsWrapper {
  display: flex;
  overflow-y: scroll;
  width: 90%;
  margin: auto;
}
/* castcard css */
.cWrapper {
  border: 2px solid rgba(41, 36, 36, 0.801);
  margin: 10px;
  height: 280px;
  /* width: 160px; */
  min-width: 160px;
  text-align: center;
  border-radius: 5px;
}

.mainText {
  font-size: 14px;
}
.subText {
  font-size: 12px;
  font-family: monospace;
}
/* recommended movie styles */
.rCardsWrapper {
  display: flex;
  overflow-y: scroll;
  width: 90%;
  margin: auto;
}

// media queries
@media screen and (max-width: 575px) {
  .innerContainer {
    flex-direction: column;
    align-items: center;
  }
}
