/* utility classes */
.tCenter{
  text-align: center;
}
/* movie header */
.container {
  border-bottom: 1px solid black;
  background-position: right -200px top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.innerContainer {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: linear-gradient(
    to right,
    rgba(10.59%, 3.53%, 3.14%, 1) 150px,
    rgba(10.59%, 3.53%, 3.14%, 0.84) 100%
  );
  /* line-height: 1.5 rem; */
}
.leftSide {
  margin-right: 15px;
}
/* right side */
.rightSide {
  width: 75%;
}
/* moviecast */
.cardsWrapper {
  display: flex;
  overflow-y: scroll;
  width: 90%;
  margin: auto;
}
/* castcard css */

.cWrapper {
  border: 5px solid rgba(235, 222, 222, 0.153);
  margin: 10px;
  height: 260px;
  width: 160px;
  min-width: 160px;
  text-align: center;
}
.mainText {
  font-size: 16px;
}
.subText {
  font-size: 14px;
  font-family: monospace;
}
/* recommended movie styles */
.rCardsWrapper {
  display: flex;
  overflow-y: scroll;
  width: 90%;
  margin: auto;
}
