/* movie page css */
.heading {
  text-align: center;
  color: rgb(39, 63, 75);
}
.heading a {
  background-color: rgb(46, 167, 231);
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}
.heading a:hover {
  background-color: rgb(25, 160, 232);
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}
/* list component css */
.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* card component css */
.pcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 240px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  margin: 10px;
  border: 5px solid rgba(235, 222, 222, 0.153);
}
.pcard:hover {
  border: 5px solid #0070f3;
}
.pcardimage {
  height: 70%;
}
.pcardinfo {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.pcardcaption {
  font-size: 14px;
}
